footer {
    padding-top: 3rem;
}

.footer-content {
    text-align: center;
}

.footer-content .pill {
    margin-inline: auto;
}

.footer-content p {
    margin: 20px 0 56px;
}

footer .flex {
    align-items: center;
    justify-content: center;
}

.social-links {
    display: flex;
    gap: 32px;
    padding: 3rem 0;
}

.social-links a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    transition: transform 0.3s ease-in-out;
}

.social-links a:hover {
    transform: scale(1.1);
}

.copyright-info {
    margin-top: 2rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
}

.copyright-info .h1-style {
    margin: 1.5rem 0;
}

.copyright-info p:not(.hightlight) {
    font-size: 0.75rem;
    color: var(--text-extra-light);
}
