@font-face {
    font-display: swap;
    font-family: "Chakra Petch";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/chakra-petch-v13-latin-700.woff2") format("woff2");
}

@font-face {
    font-display: swap;
    font-family: "Lexend";
    font-style: normal;
    font-weight: 200;
    src: url("../fonts/lexend-v26-latin-200.woff2") format("woff2");
}

@font-face {
    font-display: swap;
    font-family: "Lexend";
    font-style: normal;
    font-weight: 300;
    src: url("../fonts/lexend-v26-latin-300.woff2") format("woff2");
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Chakra Petch", sans-serif;
    font-weight: 700;
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 3rem;
}

p {
    font-size: 1.25rem;
    font-weight: 300;
    line-height: 1.4;
    color: var(--text-muted);
}

.hightlight {
    font-family: "Chakra Petch", sans-serif;
    font-weight: 700;
    font-size: 1rem;
    color: var(--text-dark);
}
